@charset "utf-8";
.hd{height: 90px;background: #fff;}
.logo{display: block;width: 90px;height: 32px;background-image: url(./img/logo_m.png);position: absolute;}
.desk{display: none;}
#gnb{position: fixed;margin-right: 0;top: 120px;right: -110%;transition: 0.8s;}
#gnb.on{right: 0;}